.gradientBorder {
    position: relative;
    padding: 24px 20px; /* Отступы внутри рамки */
    background: rgba(255, 255, 255, 0.001); /* Цвет фона внутри рамки */
    backdrop-filter: blur(20px);
    border-radius: 40px; /* Закругленные углы */
    @media screen and (min-width: 768px) {
        padding: 30px; /* Отступы внутри рамки */

    }
}

.gradientBorder::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 40px;
    padding: 2px;
    background: linear-gradient(-45deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.005) 35%, rgba(255, 255, 255, 0.005) 77%, rgba(255, 255, 255, 0.8) 100%);
    -webkit-mask: linear-gradient(#ffffff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}